@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* -----------------------------------
Universal Styling---------------------
--------------------------------------
*/


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;

}

body{
  margin: 0px;
  background-color: #060606;
  font-family: inherit;
  height: 100vh;
  padding: 0 2rem;
  color: white;
}

.loginContent{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

form{
  display: flex;
  flex-direction: column;
  width: 400px;
  /* margin:2rem auto; */
  background-color: rgba(42, 44, 42, 0.274);
  padding: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.479);
  border-radius: .5rem;
  gap: 1rem;
  height: 450px;
  position: relative;
}

input{
  border-radius: 0.5rem;
  padding: .5rem;
  font-family: inherit;
  font-weight: 400;
  outline: none;
  background: #05060549;
  border: 1px solid rgba(33, 32, 32, 0.463);
  font-size: 1rem;
  color: gray;
}

.subForm{
  display: flex;
  flex-direction: column;
  font-family: inherit;
}

span{
  font-size: .75rem;
  font-family: inherit;
  font-weight: 300;
  padding: 0 .5rem;
}

.gradientButton{
  font-size: 1rem;
  padding: 0.5rem 3rem;
  border-radius: .5rem;
  background: linear-gradient(90deg, hsla(296, 100%, 6%, 1) 0%, hsla(5, 90%, 24%, 1) 100%);
  border: none;
  color: white;
  transition: .4s all ease-in-out;
  position: absolute;
  /* position: sticky; */
  bottom: 1rem;
  width: 92.5%;
}

form .gradientButton:hover{
  /* opacity: 85%; */
  /* box-shadow: 1px 1px 50px 1px  gray; */
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.562);
}

.userList{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  font-family: 'Jost', sans-serif;
  padding: 2rem 0;
}

.user{
  width: 400px;
  border: 1px solid rgba(128, 128, 128, 0.227);
  padding: 1.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: .75rem;
  background-color: rgba(42, 44, 42, 0.274);
  transition: all 0.4s ease-in-out;
  position: relative; /* needed for pseudo-element */
  overflow: hidden; /* hide shine outside */
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}
.user:hover {
  background-color: rgba(42, 44, 42, 0.36);
  transform: scale(1.03);
}

/* shine effect */
.user::before {
  content: "";
  position: absolute;
  top: 0;
  left: -170%;
  width: 150%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent 0%,
    rgba(0, 0, 0, 0.099) 50%,
    transparent 100%
  );
  transform: skew(-25deg);
  transition: all 1s ease;
}

.user:hover::before {
  left: 150%;
}

.userIntro{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userIntro img{
  border-radius: 50%;
  position: relative;
}


.userIntro h3{
  font-weight: 400;
    background: linear-gradient(to left, #24e3d9, #7303c0, #ec38bc, #fdeff9);
    color: transparent;
    -webkit-background-clip: text;
    background-position: right;
}
.user .gradientButton{
  position: initial;
  width: 100%;
  transition: all 0.4s ease-in-out;
}

.user .gradientButton:hover{
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.562);
  transition: all 0.4s ease-in-out;
}

.loader{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1{
  text-align: center;
  margin: 0;
  padding:2rem 0;
}

h1 > span{
  font-size: 2rem;
  animation: heartbeat 1.3s ease-in-out infinite;
  display: inline-block;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}